@charset "utf-8";

header a.logo .logo-dark {margin-top: 20px;}
header a.logo .logo-light {margin-top: 2px;}
header a.logo img {max-height: 102px;}
.footer-logo {max-height: 102px;}

.banner1 { background-color: #f2e9e0; background-image:url('/images/banner-2.png');}
.banner2 { background-color: #f2e9e0; background-image:url('/images/banner-1.png');}
.banner3 { background-color: #bdcbd4; background-image:url('/images/banner-3.png');}

@media (max-width: 768px) {
	.banner1 { background-color: #f2e9e0; background-image:none;}
	.banner2 { background-color: #f2e9e0; background-image:none;}
	.banner3 { background-color: #bdcbd4; background-image:none;}
	
	.cover-background h1 {font-size: 24px; line-height: 28px;}
.cover-background .text-large {font-size: 14px; line-height: 20px;}
}